<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultDb" 
      connectionString="Data Source=192.168.1.5\sqlexpress;Initial Catalog=TestDb;User Id=testuser;Pwd=Abc123456" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>